@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*/

@font-face {
  font-family: "SSSocialCircle";
  src: url('ss-social-circle.eot');
  src: url('ss-social-circle.eot?#iefix') format('embedded-opentype'),
       url('ss-social-circle.woff') format('woff'),
       url('ss-social-circle.ttf')  format('truetype'),
       url('ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: normal;
  font-style: normal;
}

  .ss-icon.ss-social-circle
, [class^="ss-"].ss-social-circle:before
, [class*=" ss-"].ss-social-circle:before
, [class^="ss-"].ss-social-circle.right:after
, [class*=" ss-"].ss-social-circle.right:after
{
  font-family: "SSSocialCircle";
  font-size: 1.25em;
}